body {
  background-color: rgb(176, 111, 143);
  font-family: "Righteous", serif;
  padding: 50px;
}
header {
  text-align: center;
}
h1 {
  font-family: "Shrikhand", serif;
  font-size: 60px;
}
p {
  color: rgb(67, 33, 19);
  font-family: "Righteous", serif;
  padding: 0px 20px 80px;
}
strong {
  color: rgb(251, 175, 94);
}
a {
  color: rgb(0, 116, 153, 0.6);
}
footer {
  color: rgb(15, 16, 16, 0.6);
  font-size: 10px;
  text-align: center;
}
#app {
  background-color: rgb(222, 102, 101);
  border: solid 2px rgb(67, 33, 19, 0.5);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(40, 38, 38, 0.1);
  margin: 20px auto;
  max-width: 600px;
  padding: 30px 20px;
}
#city-input {
  background-color: rgb(247, 157, 61);
  border: dotted 3px rgb(247, 157, 61);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(152, 69, 6, 0.3);
  box-sizing: border-box;
  color: rgb(67, 33, 19);
  font-family: "Righteous", serif;
  font-size: 15px;
  margin: 10px;
  padding: 20px;
  width: 70%;
}
#city-input::placeholder {
  color: rgb(67, 33, 19, 0.6);
}
#current-temp {
  font-size: 60px;
  padding: 10px;
}

#main {
  color: rgb(67, 33, 19);
  display: flex;
  flex-wrap: wrap;
  font-family: "Shrikhand", serif;
  justify-content: space-between;
  margin-bottom: -70px;
  padding: 30px 20px 0px;
}
#right-side {
  align-content: center;
  background-color: rgb(247, 157, 61);
  border: dotted 5px rgb(176, 111, 143);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(152, 69, 6, 0.3);
  margin: 30px 30px 0px 0px;
  padding: 50px 30px;
}

#submit-button {
  background-color: rgb(247, 157, 61);
  border: dotted 3px rgb(247, 157, 61);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(152, 69, 6, 0.3);
  color: rgb(67, 33, 19);
  font-family: "Righteous", serif;
  font-size: 15px;
  margin: 10px;
  padding: 20px;
  width: 20%;
}
#submit-button:hover {
  background-color: rgb(176, 111, 143);
  border: dotted 3px rgb(247, 157, 61);
  color: rgb(247, 157, 61);
  transition: all 150ms ease-in-out;
}
#temp-unit {
  bottom: 20px;
  font-size: 30px;
  position: relative;
}
